#body1{
    background-color: #00ff77;
    width: 100%;
    height: 700px;
}
.btn1{
    margin-left: 630px;
    width:200px;
    height: 40px;
    background-color: rgb(255, 0, 72);
   color: rgb(251, 255, 192);
  
    margin-top: 200px;
    size: 100px;
    justify-content: center;
}

#heading1
{
    color:red;
   text-align: center;
  padding-top: 100px;
  font-size: 50px;
    
}

#container
{
    margin-left: 440px;
    
    
   

}
#user1
{
    width:200px;
    height: 40px;
    background-color: rgb(255, 0, 72);
}
label{
    color: rgb(115, 9, 9);
    font-size: 20px;
}

#btn2{
    width:200px;
    height: 40px;
    background-color: rgb(255, 0, 72);
    margin-left: 635px;
    margin-top: 19px;
    color: rgb(251, 255, 192);
    font-size: 20px;

}

